/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Color Variables */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --background-card-color: #f9f9f9;
  --background-card-secondary-color: #e0e0e0;

  --text-color: #333;
  --text-color-secondary: #666;
}

ul {
  list-style: none;
}
