/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Color Variables */
:root {
  --primary-color: #618685;
  --secondary-color: #d5f4e6;
  --accent-color: #80ced6;
  --background-card-color: #ededed;
  --background-card-secondary-color: #e0e0e0;

  --text-color: #333;
  --text-color-secondary: #666;
}

ul {
  list-style: none;
}

/* Button style */
.button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
