.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
}

.footer__nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.footer__icon {
  color: white;
  width: 2.5rem;
  height: auto;
  transition: color 0.3s ease;

  &:hover {
    color: var(--accent-color);
  }
}
